<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>

    <!-- Linking Section -->
    <link rel="stylesheet" href="/public/styling/Index.css">
    <script type="module" defer src="/public/scripts/additem.js"></script>
</head>

<body>
    <div class="addItem">
        <div class="row">
            <div class="item">
                <h2>Image 1</h2>
                <img src="" alt="" id="chosenImage">
                <input type="file" name="image" id="uploadButton" accept="image/*" />
            </div>

            <div class="item">
                <h2>Image 2</h2>
                <img src="" alt="" id="chosenImage">
                <input type="file" name="image" id="uploadButton" accept="image/*" />
            </div>

            <div class="item">
                <h2>Image 3</h2>
                <img src="" alt="" id="chosenImage">
                <input type="file" name="image" id="uploadButton" accept="image/*" />
            </div>

        </div>
    </div>
</body>

</html>