<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Items</title>

    <link rel="stylesheet" href="/public/styling/Index.css">
    <script src="/public/scripts/allitems.js"></script>
</head>

<body>
    <div class="allitems">
        <div class="navbar">
            <div class="logo">All Iphone Store</div>

            <div class="links">
                <a href="#landing">Home</a>
                <a href="#products">Products</a>
                <a href="#contactus">Contact</a>
                <a href="/signup" class="signup-button" id="signup-button">Sign Up</a>
                <a href=" /login" class="login-button" id="login-button">Log In</a>
                <a href="#" class="account-button" id="account-button">Account</a>
            </div>
        </div>
    </div>
</body>

</html>