<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Iphone Store - The best Iphone dealer in Nigeria</title>

    <!-- Linking Section -->
    <link rel="stylesheet" href="/public/styling/Index.css">
    <script type="module" src="/public/scripts/home.js"></script>
</head>

<body>
    <div class="home">
        <div class="navbar">
            <div class="logo">All Iphone Store</div>

            <div class="links">
                <a href="#landing">Home</a>
                <a href="#products">Products</a>
                <a href="#contactus">Contact</a>
                <a href="/signup" class="signup-button" id="signup-button">Sign Up</a>
                <a href=" /login" class="login-button" id="login-button">Log In</a>
                <a href="#" class="account-button" id="account-button">Account</a>
            </div>
        </div>
        <div class="landing" id="landing">
            <div class="tint">
                <div class="center">
                    <div class="largeText">10% off for all first time Shoppers.</div>
                    <div class="mediumText">Your one stop shop for Iphones</div>

                    <div class="searchBar">
                        <input type="search" name="search" id="search" class="search" placeholder="Search">
                        <button class="searchButton">Search</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="products" id="products">
            <div class="header">Featured Products</div>
            <div class="header2">
                At the All Iphone Store we deliver the best of apple mobile devices straight to your doorstep.
            </div>

            <div class="grid">
                <div class="item" id="item">
                    <div class="img"><img src="/public/images/iphonex_1.jfif" alt=""></div>
                    <div class="title">Iphone X</div>
                    <div class="condition">New</div>
                    <div class="price">N160,000</div>
                </div>
                <div class="item" id="item">
                    <div class="img"><img src="/public/images/iphone11_1.jfif" alt=""></div>
                    <div class="title">Iphone 11</div>
                    <div class="condition">New</div>
                    <div class="price">N250,000</div>
                    <!-- <button id="addToCart">Add to Cart</button> -->
                </div>
                <div class="item" id="item">
                    <div class="img"><img src="/public/images/iphone11_2.jfif" alt=""></div>
                    <div class="title">Iphone 11</div>
                    <div class="condition">Used</div>
                    <div class="price">N220,000</div>
                    <!-- <button id="addToCart">Add to Cart</button> -->
                </div>
                <div class="item" id="item">
                    <div class="img"><img src="/public/images/iphonex_1.jfif" alt=""></div>
                    <div class="title">Iphone X</div>
                    <div class="condition">New</div>
                    <div class="price">N160,000</div>
                    <!-- <button>Add to Cart</button> -->
                </div>
                <div class="item" id="item">
                    <div class="img"><img src="/public/images/iphonex_1.jfif" alt=""></div>
                    <div class="title">Iphone X</div>
                    <div class="condition">New</div>
                    <div class="price">N160,000</div>
                    <!-- <button>Add to Cart</button> -->
                </div>
                <div class="item" id="item">
                    <div class="img"><img src="/public/images/iphonex_1.jfif" alt=""></div>
                    <div class="title">Iphone X</div>
                    <div class="condition">New</div>
                    <div class="price">N160,000</div>
                    <!-- <button>Add to Cart</button> -->
                </div>
                <div class="item" id="item">
                    <div class="img"><img src="/public/images/iphonex_1.jfif" alt=""></div>
                    <div class="title">Iphone X</div>
                    <div class="condition">New</div>
                    <div class="price">N160,000</div>
                    <!-- <button>Add to Cart</button> -->
                </div>
                <div class="item" id="item">
                    <div class="img"><img src="/public/images/iphonex_1.jfif" alt=""></div>
                    <div class="title">Iphone X</div>
                    <div class="condition">New</div>
                    <div class="price">N160,000</div>
                    <!-- <button>Add to Cart</button> -->
                </div>
            </div>
            <div class="seemore">See more</div>
        </div>

        <div class="testimonials">
            <h1>Testimonials</h1>

        </div>
        <div class="contactus" id="contactus">
            <h1>Contact Us</h1>
            <div class="flex">
                <div class="form">
                    <form method="post">
                        <input type="text" name="name" id="name" class="name" placeholder="Full Name">
                        <input type="email" name="email" id="email" class="name" placeholder="Email Address">
                        <input type="number" name="number" id="number" class="number" placeholder="Phone Number">
                        <input type="text" name="message" id="message" class="message" placeholder="Message">
                        <input type="button" value="Submit" class="submit-button">
                    </form>
                </div>
                <div class="map">
                    <iframe
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                        width="100%" height="100%" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="footer"></div>
    </div>
</body>

</html>