@import 'variables';

.addItem {
    height: 100vh;
    display: flex;
    padding: 10px;

    .row {
        @include flex-row;
        justify-content: space-evenly;
        width: 100%;
        height: 250px;

        .item {
            @include flex-column;
            justify-content: space-evenly;
            border: 1px solid $darkGrey;
            width: 20%;
            height: 100%;
            padding: 10px;

            h2 {
                color: black;
                font-family: $mainFontFamily;
                font-size: $mainFontFamily;
                align-self: center;
            }

            img {
                width: 60%;
                height: 60%;
                align-self: center;
            }

        }
    }
}