@import 'variables';
@import 'home';
@import 'signup';
@import 'productview';
@import 'login';
@import 'additem';
@import 'allitems';

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}